@import './variables';
// 边框
.border(@type:solid,@size:1px,@color,red){
  border:@type @size @color;
}
.border(top,@type:solid,@size:1px,@color,red){
  border-top:@type @size @color;
}
.border(bottom,@type:solid,@size:1px,@color,red){
  border-bottom:@type @size @color;
}
.border(left,@type:solid,@size:1px,@color,red){
  border-left:@type @size @color;
}
.border(right,@type:solid,@size:1px,@color,red){
  border-right:@type @size @color;
}

// 圆角
.radius(@size:10px) {
  border-radius:@size;
}

// 查询新增按钮
.searchBtn() {
  .btn(80,36,10px,@blueBg,14px);
}

// 确定按钮
.confirmBtn() {
  .btn(@width,@height,10px,@blueBg,16px);
}

// 取消按钮
.cancelBg() {
  .btn(@width,@height,10px,@cancelBg,16px)
}
// 导入导出
.blackBtn() {
  .btn(@width,@height,10px,@blackBtn,16px)
}
.btn(@w:@width,@h:@height,@r:10px,@bgc:@blueBg,@fz:16px) {
  background-color: @blueBg;
  width: @w;
  height:@h;
  text-align: center;
  display: inline-block;
  line-height: @h;
  font-size:@fz;
  .radius(@r);
}
.router-icon {
  color: #fff!important;
}
.router-icon-arrow {
  font-size: 8px!important;
}
.el-menu-item {
  padding-left: 20px!important;
}
.el-submenu__title {
  font-size: 16px!important;
  color: #fff!important;
}
a {
  text-decoration: none
}